DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=<password>
DB_HOST=localhost
DB_PORT=5432

CLIENT_ID=<client_id_oauth>
CLIENT_SECRET=<client_secret_oauth>

R2_ACCOUNT_ID=<account_id>
R2_ACCESS_KEY_ID=<access_key_id>
R2_SECRET_ACCESS_KEY=<secret_access_key>
R2_BUCKET_NAME=internship-reports
R2_ENDPOINT=https://<account_id>.r2.cloudflarestorage.com